#!/usr/bin/make -f

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
RC_FILE :=../../build/sources.rc
BCW_VERSION ?= $(shell egrep '^BCW_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
SOURCE_PACKAGING_DIR ?= $(shell egrep '^RPM_SOURCES_DIR=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
BORHAN_PREFIX ?= $(shell egrep '^BORHAN_PREFIX=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
BCW_PREFIX=$(BORHAN_PREFIX)/web/flash/bcw
include ../includes/build-revision.mk
archive := $(SOURCE_PACKAGING_DIR)/borhan-bcw-$(BCW_VERSION).tar.bz2
tree := borhan-bcw

clean:
	dh_clean
	rm -rf $(tree) 
	rm -rf debian/tmp

$(archive):
	$(SOURCE_PACKAGING_DIR)/platform-install-packages/build/package_borhan_bcw.sh	

$(tree): $(archive)
	tar jxf $(archive)

build: $(tree)

install: build

binary-indep: install
	dh_installdirs
	rm -rf $(BCW_PREFIX)
	mkdir -p $(BCW_PREFIX) $(BORHAN_PREFIX)/web/content/uiconf/borhan/generic
	mv $(tree)/uiconf/borhan/generic/bcw_2.1.5 $(BORHAN_PREFIX)/web/content/uiconf/borhan/generic/
	mv $(tree)/$(BCW_VERSION) $(BCW_PREFIX)
	find $(BORHAN_PREFIX)/web/flash/bcw -name ".project" -exec rm {} \;
	dh_install $(BORHAN_PREFIX)
	dh_gencontrol -u-v$(DEB_VERSION) 
	dh_installdebconf
	dh_installdeb
	dh_builddeb 

binary: binary-indep
.PHONY: clean build binary-indep binary-arch binary
