Source: borhan-batch
Section: net
Priority: extra
Maintainer: Jess Portnoy <jess.portnoy@borhan.com>

Package: borhan-batch
Architecture: all
Depends: ${shlibs:Depends},apache2-mpm-prefork,php5-cli|borhan-php7-cli,php5-mysql|borhan-php7-mysql,php5-xsl|borhan-php7-xsl,php5-curl|borhan-php7-curl,php5-gmp|borhan-php7-gmp, php5-mcrypt|borhan-php7-mcrypt, php-apc|borhan-php7-apcu, php5-memcache|borhan-php7-memcache, imagemagick, libapache2-mod-php5|borhan-libapache2-mod-php7,libssh2-php|borhan-php7-ssh2,libapache2-mod-xsendfile,libjpeg62,sshpass,borhan-ffmpeg,borhan-ffmpeg-aux,mencoder,mediainfo,memcached,borhan-base
Description: Borhan Open Source Video Platform - batch server 
 Borhan is the world's first Open Source Online Video Platform, transforming the way people work, learn, 
 and entertain using online video. The Borhan platform empowers media applications with advanced video 
 management, publishing, and monetization tools that increase their reach and monetization and simplify 
 their video operations. Borhan improves productivity and interaction among millions of employees by providing 
 enterprises powerful online video tools for boosting internal knowledge sharing, training, and collaboration, 
 and for more effective marketing. Borhan offers next generation learning for millions of students and teachers 
 by providing educational institutions disruptive online video solutions for improved teaching, learning, and 
 increased engagement across campuses and beyond. 
 For more information visit: http://corp.borhan.com, http://www.borhan.org and http://www.html5video.org.
 .
 This package installs a Borhan batch node.
 .
