#!/usr/bin/make -f

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
RC_FILE :=../../build/sources.rc
BMC_VERSION ?= v$(shell egrep '^BMC_MINUS_V_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
SOURCE_PACKAGING_DIR ?= $(shell egrep '^SOURCE_PACKAGING_DIR=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
BORHAN_PREFIX ?= $(shell egrep '^BORHAN_PREFIX=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
BMC_PREFIX=$(BORHAN_PREFIX)/web/flash/bmc
HTML5LIB_VERSION ?= $(shell egrep '^HTML5LIB_LATEST_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
KCLIP_VERSION ?= $(shell egrep '^KCLIP_VERSION=' $(RC_FILE) | cut -d = -f 2| sed 's@"@@g')
include ../includes/build-revision.mk
archive := $(SOURCE_PACKAGING_DIR)/borhan-bmc-$(BMC_VERSION).tar.bz2
tree := borhan-bmc-$(BMC_VERSION)

clean:
	dh_clean
	rm -rf $(tree) 
	rm -rf debian/tmp

$(archive):
	$(SOURCE_PACKAGING_DIR)/platform-install-packages/build/package_borhan_bmc.sh	

$(tree): $(archive)
	tar jxf $(archive)

build: $(tree)

install: build

binary-indep: install
	dh_installdirs
	rm -rf $(BMC_PREFIX)
	mkdir -p $(BMC_PREFIX) $(BORHAN_PREFIX)/web/content/docs
	mv $(tree)/* $(BMC_PREFIX)/
	sed -i "s#html5_version =.*#html5_version = $(HTML5LIB_VERSION)#g" $(BMC_PREFIX)/$(BMC_VERSION)/config.ini 
	sed -i "s#\(widgets.kClip.*version\) =.*#\1 = $(KCLIP_VERSION)#g" $(BMC_PREFIX)/$(BMC_VERSION)/config.ini 
	dos2unix $(BMC_PREFIX)/$(BMC_VERSION)/config.ini
	cp -r $(BMC_PREFIX)/doc/* $(BORHAN_PREFIX)/web/content/docs
	dh_install $(BORHAN_PREFIX)
	dh_gencontrol -u-v$(DEB_VERSION) 
	dh_installdebconf
	dh_installdeb
	dh_builddeb 

binary: binary-indep
.PHONY: clean build binary-indep binary-arch binary
