# This file basically defines the DBs names, privileges and users entitled to these privileges.

DBS="borhan borhan_sphinx_log borhandw borhandw_ds borhandw_bisources borhanlog"
DB_USERS="borhan etl"
borhan_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,ALTER,CREATE,DROP"
borhan_USER="borhan"
borhan_SQL_FILES="/opt/borhan/app/deployment/base/sql/01.borhan_ce_tables.sql /opt/borhan/app/deployment/base/sql/04.stored_procedures.sql"

borhan_sphinx_log_PRIVILEGES="SELECT,INSERT,UPDATE"
borhan_sphinx_log_USER="borhan"
borhan_sphinx_log_SQL_FILES="/opt/borhan/app/deployment/base/sql/01.borhan_sphinx_ce_tables.sql"

borhandw_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,EXECUTE"
borhandw_USER="etl"
borhandw_ds_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,EXECUTE"
borhandw_ds_USER="etl"
borhandw_bisources_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,EXECUTE"
borhandw_bisources_USER="etl"
borhanlog_PRIVILEGES="INSERT,UPDATE,DELETE,SELECT,LOCK TABLES"
borhanlog_USER="etl"
